<!DOCTYPE html>
<html lang="en">

<#include "head.html"/>

<#include "header.html"/>

<body>
<div class="wrapper">
    <h2>What is Nomic?</h2>
    <p>
        Nomic is a game of rule-making.  Like other games, Nomic has a set of rules that
        players are expected to follow.  Unlike other games, players can change those rules.
        In fact, that's really all there is to Nomic: You propose changes to the rules,
        everyone votes on them, and you continue playing under the new set of rules.
    </p>
    <p>
        Nomic was originally designed in 1982 by Peter Suber, a philosopher and college
        professor.  The original rule set consisted of 29 rules, some immutable and some
        mutable.  The rules described a system of assigning points to players, the conditions
        under which a player could win, and a method for changing rules or adopting new
        ones.  But no rule was immune from change; even the immutable rules could be
        transmuted to mutable and then changed.  Thus when a player got close to winning,
        the other players would simply change the rules so that he or she could not win.
        So winning became a very challenging task.  As a result games could take a long
        time to finish.
    </p>
    <p>
        Nomic was originally played face-to-face, but as the Internet grew it naturally
        moved to online play.  The rules were adopted for online participation, and then
        a host of variant initial rule sets were developed.  Although the game has receded
        from its peak popularity, it is nonetheless still enjoyed online by many people.
    </p>
    <p>
        For more information, checkout the <a href="https://en.wikipedia.org/wiki/Nomic">Nomic Wikipedia page</a>.
    </p>

    <h2>What is CharNomic?</h2>
    <p>
        CharNomic is the name of a Nomic game being played online.  Even though it is being
        conducted online, most of the participants live in Charlotte, NC, thus the name.
        The game is being started and managed by me, Harry Culpan.
    </p>
    <p>
        Recognizing that most of the participants will be older with scarce free time, I
        have chosen to use a minimal set of initial rules, although even these are fairly
        detailed and long.  Check out the set of rules on the
        <a href="http://www.charnomic.com"/>main page.  Or if you want to see the game's
        history, you can look at the <a href="http://www.charnomic.com/initial_rules.html">
        Initial Rule Set</a> to see how the rules looked at the start, and the
        <a href="http://www.charnomic.com/proposals.html">Proposals</a> to see what
        has been proposed and passed. </p>
    <h2>Want to play?</h2>
    <p>
        Just send me an email at <a href="mailto:harry@culpan.org">harry@culpan.org</a>.
    </p>

    <h2>Historical CharNomic</h2>
    <p>
        This is actually the second time the CharNomic game has been played.  It was originally
        played back in 1998.  Two of the game's current participants, Harry Culpan and Paul Wiegand,
        played in the original game.  The game has been preserved on the
        <a href="http://www.nomic.net/archive.html">nomic.net Dead Games Archive</a> at
        <a href="http://www.nomic.net/deadgames/charnomic/">CharNomic</a>.
    </p>
</div>
<#include "footer.html"/>
</body>

</html>
