<!DOCTYPE HTML>
<html>
<#include "head.html"/>

<#include "header.html"/>

<body>
<div class="wrapper">
    <br><br><br>
    <div id="leftcol"><h4>Login:</h4></div>
    <div id="middlecol">
        <form action="/update_password" method="post">
            <table>
                <tr>
                    <td align="right">Email address:</td>
                    <td><input type="text" `name="username" id="username" value="${(activeplayer.email)!}"></td>
                </tr>
                <tr>
                    <td align="right">Current Password:</td>
                    <td><input type="password" name="password" id = "password"></td>
                </tr>
                <tr>
                    <td align="right">New Password:</td>
                    <td><input type="password" name="newpassword1" id="newpassword1"></td>
                </tr>
                <tr>
                    <td align="right">Confirm New Password:</td>
                    <td><input type="password" name="newpassword2" id="newpassword2"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><br><#if message??>${message}<#else></#if></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" value="Login"></td>
                </tr>
            </table>
        </form>
        <br><br><br>
    </div>
</div>

<#include "footer.html"/>
</body>
</html>