<footer class="site-footer">

<div class="wrapper">

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <ul class="contact-list">
      <li>CharNomic</li>
      <li><a href="mailto:harry@culpan.org">harry@culpan.org</a></li>
    </ul>
  </div>

  <div class="footer-col footer-col-2">
  </div>

  <div class="footer-col footer-col-3">
    <ul class="contact-list">
      <li>This is the site for the Charlotte Nomic game.</li>
      <li>You can find the source for this site on <a href="https://github.com/hculpan/charnomic">Github</a>.</li>
    </ul>
  </div>
</div>

</div>

</footer>
