<nav class="navbar navbar-inverse navbar-custom" role="banner">
    <div class="wide">
        <div class="container">
            <img src="/images/charnomic-logo.jpg"/>
        </div>
    </div>

    <div class="container">
        <div id="navbar-header">
            <div class="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="/home.html">Home</a></li>
                    <li><a href="/judgments.html">Judgments</a></li>
                    <li><a href="/proposals.html">Proposals</a></li>
                    <li><a href="https://groups.google.com/group/charnomic" target="_blank">Forum</a></li>
                    <li><a href="/initial_rules.html">Initial Rule Set</a></li>
                    <li><a href="/about.html">About</a></li>
                </ul>
                    <#if (activeplayer.firstname)??>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown navbar-right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    ${activeplayer.firstname}
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/logout.html">Logout</a></li>
                                    <li><a href="/update_password.html">Change password</a></li>
                                    <li><a href="/update_username.html">Change email/username<</a></li>
                                    <#if activeplayer.monitor>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="/active_player.html">Change Active Player</a></li>
                                        <li><a href="/add_points.html">Add Points</a></li>
                                    </#if>
                                </ul>
                        </li>
                        </ul>
                    <#else>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href='/login.html'>Login</a></li>
                    </ul>
                    </#if>
                </ul>
            </div>
        </div>
    </div>
</nav>
