<header class="site-header" role="banner">
    <div class="wrapper">
        <div id="headerimage"></div>

        <div id="headermenu">
          <a class="page-link" href="/home">Home</a>
          <a class="page-link" href="/judgments.html">Judgments</a>
          <a class="page-link" href="/proposals">Proposals</a>
          <a class="page-link" href="https://groups.google.com/group/charnomic">Forum</a>
          <a class="page-link" href="/initial_rules.html">Initial Rule Set</a>
          <a class="page-link" href="/about.html">About</a>
        </div>
    </div>
</header>
