<!DOCTYPE HTML>
<html>
    <#include "head.html"/>

    <#include "header.html"/>

    <body>
        <div class="wrapper">
            <div id="leftcol">
                <h3 class="center-text">Players</h3>
                <table>
                    <tr>
                        <th width="10%" class="center-text"></th>
                        <th width="50%" class="center-text">Name</th>
                        <th width="10%" class="center-text">Pts</th>
                        <th width="10%" class="center-text">Lvl</th>
                        <th width="10%" class="center-text">GP</th>
                        <th width="10%" class="center-text">Veto</th>
                    </tr>
                    <#list players as player>
                    <tr>
                        <td class="center-text<#if player.onLeave> on-leave</#if>">
                            <#if player.onLeave><img src="/images/vacation-icon.png"/></#if>
                            <#if player.turn><img src="/images/chkmark.png"/></#if>
                        </td>
                        <td class="center-text<#if player.onLeave> on-leave</#if>">${player.lastname}, ${player.firstname[0..<1]}.</td>
                        <td class="center-text<#if player.onLeave> on-leave</#if>">${player.points}</td>
                        <td class="center-text<#if player.onLeave> on-leave</#if>">${player.level}</td>
                        <td class="center-text<#if player.onLeave> on-leave</#if>">${player.gold}</td>
                        <td class="center-text<#if player.onLeave> on-leave</#if>">${player.vetoes}/${player.totalVetoes}</td>
                    </tr>
                    </#list>
                </table>
            </div>

            <div id="middlecol">
                <h2 class="center-text">Rules</h2>
                <#list rules as rule>
                <div class="rule">
                    <#if rule.name??>
                        ${rule.num} - ${rule.name}<br>
                        ${rule.text}
                    <#else>
                        ${rule.num} - ${rule.text}
                    </#if>
                </div>
                </#list>
            </div>
        </div>

        <#include "footer.html"/>
    </body>
</html>