<!DOCTYPE HTML>
<html>
    <#include "head.html"/>

    <#include "header.html"/>

    <body>
        <div class="wrapper">
            <h2 class="center-text">Proposals</h2>

            <#list proposals as proposal>
            <blockquote class="status-${proposal.status}">
                <#if proposal?index == 0><hr/></#if>
                <div class="rule">
                    <#if proposal.name??>
                        ${proposal.num} - ${proposal.name}<br>
                        ${proposal.proposal}
                    <#else>
                        ${proposal.num} - ${proposal.proposal}
                    </#if>
                </div>

                <div class="footer-col-wrapper status-${proposal.status}">
                    <div class="footer-col footer-col-1">
                        <ul class="contact-list">
                            <li>Proposed by: ${proposal.proposedBy.firstname} ${proposal.proposedBy.lastname}</li>
                        </ul>
                    </div>

                    <div class="footer-col footer-col-2">
                    </div>

                    <div class="footer-col footer-col-3">
                        <ul class="contact-list">
                            <li>Status: ${proposal.status}</li>
                        </ul>
                    </div>
                </div>
                <hr/>
            </blockquote>
            </#list>
        </div>

        <#include "footer.html"/>
    </body>
</html>